{require_otp_vsn, "R14B04|R15B01"}.

{deps, [
    {leo_commons,           ".*", {git, "https://github.com/leo-project/leo_commons.git",           "master"}},
    {leo_logger,            ".*", {git, "https://github.com/leo-project/leo_logger.git",            "master"}},
    {leo_mq,                ".*", {git, "https://github.com/leo-project/leo_mq.git",                "master"}},
    {leo_object_storage,    ".*", {git, "https://github.com/leo-project/leo_object_storage.git",    "master"}},
    {leo_redundant_manager, ".*", {git, "https://github.com/leo-project/leo_redundant_manager.git", "master"}},
    {leo_statistics,        ".*", {git, "https://github.com/leo-project/leo_statistics.git",        "master"}}
]}.

{erl_opts, [{d, 'NOTEST'},
            fail_on_warning,
            warn_export_all,
            debug_info]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, [".eunit/*", "ebin/*.beam"]}.
