{require_otp_vsn, "R14B04|R15B01"}.

{deps, [
    {leo_commons,           ".*", {git, "https://github.com/leo-project/leo_commons.git", "0.9.1"}},
    {leo_logger,            ".*", {git, "https://github.com/leo-project/leo_logger.git", "0.9.1"}},
    {leo_mq,                ".*", {git, "https://github.com/leo-project/leo_mq.git", "0.9.1"}},
    {leo_object_storage,    ".*", {git, "https://github.com/leo-project/leo_object_storage.git", "0.9.1"}},
    {leo_redundant_manager, ".*", {git, "https://github.com/leo-project/leo_redundant_manager.git", "0.9.1"}},
    {leo_statistics,        ".*", {git, "https://github.com/leo-project/leo_statistics.git", "0.9.1"}},
    {meck,                  ".*", {git, "https://github.com/eproxus/meck.git",                      "master"}}
]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warn_unused_import,
            warnings_as_errors,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
