{require_otp_vsn, "R14B04|R15B01"}.

{deps, [
    {leo_commons,           ".*", {git, "https://github.com/leo-project/leo_commons.git",           "0.10.3"}},
    {leo_logger,            ".*", {git, "https://github.com/leo-project/leo_logger.git",            "0.9.4" }},
    {leo_mq,                ".*", {git, "https://github.com/leo-project/leo_mq.git",                "0.9.4" }},
    {leo_object_storage,    ".*", {git, "https://github.com/leo-project/leo_object_storage.git",    "0.10.2"}},
    {leo_ordning_reda,      ".*", {git, "https://github.com/leo-project/leo_ordning_reda.git",      "0.6.0" }},
    {leo_redundant_manager, ".*", {git, "https://github.com/leo-project/leo_redundant_manager.git", "0.9.5" }},
    {leo_statistics,        ".*", {git, "https://github.com/leo-project/leo_statistics.git",        "0.9.4" }},
    {meck,                  ".*", {git, "https://github.com/eproxus/meck.git",                      {branch, "master"}}},
    {proper,                ".*", {git, "https://github.com/manopapad/proper.git",                  {branch, "master"}}}
]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warn_unused_import,
            warnings_as_errors,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
