[{leo_statistics,[{profile,false}]},
 {leo_redundant_manager,[{profile,false},
                         {log_dir_ring,"./log/ring"},
                         {log_dir_member,"./log/ring"},
                         {notify_mf,[leo_manager_api,notify]},
                         {sync_mf,[leo_manager_api,synchronize]}]},
 {leo_ordning_reda,[{send_after_interval,100},{profile,false}]},
 {leo_object_storage,[{is_strict_check,false},
                      {metadata_storage,bitcask},
                      {profile,false}]},
 {leo_mq,[{backend_db,bitcask},{profile,false}]},
 {leo_logger,[{profile,false}]},
 {leo_backend_db,[{profile,false}]},
 {storage,[{snmp_agent,"./snmp/snmpa_gateway_0/LEO-GATEWAY"},
           {queue_dir,"./work/queue"},
           {log_dir,"./log/erlang"},
           {log_level,1},
           {stacking_timeout,5000},
           {size_of_stacked_objs,67108864},
           {grp_level_2,[]},
           {cns_interval_recovery_node_max,32},
           {cns_interval_recovery_node_min,8},
           {cns_num_of_batch_process_recovery_node,1},
           {cns_interval_async_deletion_max,1},
           {cns_interval_async_deletion_min,1},
           {cns_num_of_batch_process_async_deletion,1},
           {cns_interval_rebalance_max,1},
           {cns_interval_rebalance_min,1},
           {cns_num_of_batch_process_rebalance,1},
           {cns_interval_sync_by_vnode_id_max,32},
           {cns_interval_sync_by_vnode_id_min,8},
           {cns_num_of_batch_process_sync_by_vnode_id,1},
           {cns_interval_per_object_max,1},
           {cns_interval_per_object_min,1},
           {cns_num_of_batch_process_per_object,1},
           {num_of_mq_procs,8},
           {num_of_vnodes,168},
           {system_version,"0.16.5"},
           {managers,['manager_0@127.0.0.1','manager_1@127.0.0.1']},
           {obj_containers,[[{path,"\"./avs\""},{num_of_containers,8}]]},
           {log_appender,{file,[{path,"./log/app"}]}}]},
 {sasl,[{error_logger_mf_maxfiles,5},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_dir,"./log/sasl"},
        {errlog_type,error},
        {sasl_error_logger,{file,"./log/sasl/sasl-error.log"}}]}].
